<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

  <title>JJob Korea</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-style.css">
  <link rel="stylesheet" href="assets/css/owl.css">

</head>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <header id="header">
          <div class="logo">
            <a href="/">JJob Korea</a>
          </div>
        </header>

        <!-- Banner -->
        <section class="main-banner">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="banner-content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="banner-caption">
                        <h4>Hello, this is <em>JJob</em> Korea.</h4>
                        <span>Find your job in our website.</span>
                        <p>Check out millions of job and recruitment information and corporate information on JJob
                          Korea.</p>
                        <div class="primary-button">
                          <a href="#">Read Again</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Services -->
        <section class="services">
          <div class="container-fluid">
            <div class="row">
              <div class="row">
                <div class="middle">
                  <div class="sub-title">
                    <h3>company support</h3>
                  </div>
                  <div class="support-company">
                    <div class="cmp-list">
                    <% for (var i=0;i<enterList.length; i++) { %>
                      <div class="cmp">
                        <a href="/enterprise-detail/<%= enterList[i].id %>"><img src=<%= enterList[i].image %> class="company-img"></a>
                        <p class="company-name"><%= enterList[i].enterpriseTitle %></p>
                      </div>
                    <% } %>
                    </div>
                    <!-- <div class="cmp-list">
                      <div class="cmp">
                        <img src="./img/Kakao.png" class="company-img">
                        <p class="company-name">카카오 채용공고</p>
                      </div>
                      <div class="cmp">
                        <img src="./img/Kakao.png" class="company-img">
                        <p class="company-name">카카오 채용공고</p>
                      </div>
                      <div class="cmp">
                        <img src="./img/Kakao.png" class="company-img">
                        <p class="company-name">카카오 채용공고</p>
                      </div>
                    </div> -->
                  </div>
                </div>

              </div>
            </div>
          </div>
        </section>

        <!-- Top Image -->


      </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

      <div class="inner">

        <!-- Menu -->
        <nav id="menu">
          <ul>
            <li><a href=<%= direct %>>>Mypage <%= name %></a></li>
            <li><a href=<%= signLink %>>><%= sign %></a></li>
            <li>
              <span class="opener">Company</span>
              <ul>
                <li><a href="#">First Sub Menu</a></li>
                <li><a href="#">Second Sub Menu</a></li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- Featured Posts -->
      </div>

      <!-- Footer -->
      <footer id="footer">
        <p class="copyright">Copyright &copy; 2020
          <br>Designed by 16조</p>
      </footer>

    </div>
  </div>

  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/transition.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/custom.js"></script>
</body>


</body>

</html>