<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/mypage.css">
</head>

<body>
    <div class="container">
        <div class="section1">
            <header>
                <p class="section1-title">MY PAGE</p>
            </header>
        </div>
        <div class="section2">
            <main>
                <div class="self">
                    <form class="form" action="/mypage" method="POST" enctype="multipart/form-data">
                        <label for="image">ㆍID Photo </label><br><br>
                        <input type="file" id="image" name="image" accept="image/jpeg" required><br><br>

                        <label for="applicantName">ㆍName</label>
                        <input type="text" id="applicantName" name="applicantName" placeholder="name.."
                            value="<%= applicantList.applicantName %>" required>

                        <label for="applicantGender">ㆍGender</label>
                        <select id="applicantGender" name="applicantGender">
                            <option value="" disabled>성별선택</option>
                            <option value="male" selected>Male</option>
                            <option value="female">Female</option>
                        </select>
                        <label for="applicantBirthday">ㆍBirth</label><br><br>
                        <input type="date" id="applicantBirthday" name="applicantBirthday" placeholder="Birth"
                            value="<%= applicantList.applicantBirthday %>" required><br><br>

                        <label for="applicantEmail">ㆍEmail</label>
                        <input type="text" id="applicantEmail" name="applicantEmail" placeholder="e-mail.."
                            value="<%= applicantList.applicantEmail %>" required>

                        <label for="applicantPhoneNumber">ㆍPhone Number</label>
                        <input type="text" id="applicantPhoneNumber" name="applicantPhoneNumber"
                            placeholder="phone number.." value="<%= applicantList.applicantPhoneNumber %>" required>

                        <label for="applicantIntroduce">ㆍSelf-Introduction</label>
                        <textarea class="textarea" name="applicantIntroduce" id="applicantIntroduce"
                            placeholder="Let me introduce myself" cols="30" rows="10"
                            required><%= applicantList.applicantIntroduce %></textarea>
                        <!-- <input type="text" id="applicantIntroduce" name="applicantIntroduce"
                            placeholder="let me introduce myself" style="height: 300px;"> -->

                        <input type="submit" value="Save">
                    </form>
                </div>
            </main>
        </div>
        <div class="section3">
            <footer>

            </footer>
        </div>
    </div>
</body>

</html>